/.DS_Store
/.localized
/Adobe
/CMI.docx
/CMI.pptx
/DISSERTATION MITHUN.docx
/MITHUN SADASHIV SHASHIDHARA.pdf
/MithunSadashiv_cv.docx
/My Tableau Repository
/Presentation1.pptx
/d f.docx
/qil f.docx
/~$Presentation1.pptx
/~$d f.docx
/~$qil f.docx